<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.helpshift.cordova"
        version="0.1.1">

    <name>Helpshift PhoneGap Plugin</name>
    <description>Helpshift PhoneGap Plugin</description>
    <keywords>phonegap, helpshift, help, support</keywords>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module src="www/cordova-helpshift.js" name="HelpshiftPlugin">
        <clobbers target="window.HelpshiftPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HelpshiftPlugin">
                <param name="android-package" value="com.helpshift.cordova.HelpshiftPlugin" />
            </feature>
            <access origin="https://*.helpshift.com" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.helpshift.HSConversation" android:configChanges="orientation|screenSize|locale|layoutDirection"
                      android:theme="@style/Helpshift.Theme.Activity" />
            <activity android:name="com.helpshift.HSQuestionsList" android:configChanges="orientation|screenSize"
                      android:theme="@style/Helpshift.Theme.Activity" />
            <activity android:name="com.helpshift.HSQuestion" android:configChanges="orientation|screenSize"
                      android:hardwareAccelerated="true" android:theme="@style/Helpshift.Theme.Activity" />
            <activity android:name="com.helpshift.HSSection" android:configChanges="orientation|screenSize"
                      android:hardwareAccelerated="true" android:theme="@style/Helpshift.Theme.Activity"
                      android:windowSoftInputMode="adjustPan" />
            <activity android:name="com.helpshift.HSFaqs" android:configChanges="orientation|screenSize"
                      android:hardwareAccelerated="true" android:theme="@style/Helpshift.Theme.Activity"
                      android:windowSoftInputMode="adjustPan" />
            <activity android:name="com.helpshift.HSReview" android:configChanges="orientation|screenSize"
                      android:theme="@style/Helpshift.Theme.Dialog" />
            <activity android:name="com.helpshift.ScreenshotPreviewActivity" android:configChanges="orientation|screenSize"
                      android:theme="@style/Helpshift.Theme.Activity" />
            <activity android:name="com.helpshift.SearchResultActivity" android:configChanges="orientation|screenSize"
                      android:theme="@style/Helpshift.Theme.Activity" />

            <service android:name="com.helpshift.HSService" android:label="Helpshift Service" />
            <service android:name="com.helpshift.HSRetryService" android:label="Helpshift Service" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <framework src="platforms/android/HelpshiftLib" custom="true" />

        <source-file src="platforms/android/src/com/helpshift/cordova/HelpshiftPlugin.java" target-dir="src/com/helpshift/cordova" />
        <source-file src="platforms/android/src/com/helpshift/cordova/HSJSONUtils.java" target-dir="src/com/helpshift/cordova" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HelpshiftPlugin">
                <param name="ios-package" value="HelpshiftPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="platforms/ios/HelloCordova/Plugins/com.helpshift.cordova/HelpshiftPlugin.h" />
        <source-file src="platforms/ios/HelloCordova/Plugins/com.helpshift.cordova/HelpshiftPlugin.m" />

        <!-- Helpshift frameworks -->
        <header-file src="platforms/ios/HelpshiftLib/Helpshift.h" />
        <source-file src="platforms/ios/HelpshiftLib/libHelpshift.a" compiler-flags="-lHelpshiftLib" framework="true" />

        <!-- System frameworks -->
        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreText.framework" />
        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuickLook.framework" />

    </platform>

</plugin>
